{% load static %}

<link rel="stylesheet" href="{% static 'polls/detail.css' %}">


<form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %}
    <h1>{{ question.question_text }}</h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <fieldset>
        {% for choice in question.choice_set.all %}
            <label>
                {% if choice == user_vote%}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked>
                {% else %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                {% endif %}
                <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label><br>
        {% endfor %}
    </fieldset>
    <button type="submit">Vote</button>
    <a href="{% url 'polls:results' question.id %}"><button type="button">Results</button></a>
    <a href="{% url 'polls:index' %}"><button type="button">Back to polls list</button></a>
</form>
