{% load static %}

<link rel="stylesheet" href="{% static 'polls/index.css' %}">

<h1>Polls List</h1>

{% if lastest_question_list %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            {% for question in lastest_question_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
                    <td><a href="{% url 'polls:results' question.id %}"><button type="button">Results</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if user.is_authenticated %}&nbsp;&nbsp;&nbsp;
    <p><label>{{"login as "}}</label><user>{{user.username}}</user></p>
    <a href="{% url 'logout' %}"><button type="button">Log Out</button></a>
{% else %}
    <p>If you didn't login, please login or signup for voting. 
    <a href="{% url 'login' %}"><button type="button">Log in?</button></a>
    <a href="{% url 'signup' %}"><button type="button">Signup?</button></a>
    </p>
{% endif %}
