body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white url("images/background.jpg");
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px black solid;
    background-color: #ffffff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: gray;
    color: white;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #8b0000
}